
<link rel="stylesheet" href="css/header.css">
<div class="navbar navbar-expand-lg navbar-light" >
  <header>
    <a class="navbar-brand" href="#"><img class="logo" src="/images/logo.png"/></a>
  </header>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">OIDC</a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/oidc">Open ID Connect Overview</a></li>
        <li><a class="dropdown-item" href="/oidc-auth-code">OIDC Authorization Code Grant Type</a></li> 
        <li><a class="dropdown-item" href="/oidc-client-cred">OIDC Client Credentials Grant Type</a></li> 
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">REST</a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/rest-summary">REST APIs Overview</a>
          <a class="dropdown-item" href="/rest-example">REST Example</a> 
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">RIA</a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="articles/ria/summary">RIA Single Page App Overview</a>
          <a class="dropdown-item" href="articles/ria/example">Angular Web Client Example</a>  
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">AI</a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="articles/ai/summary">Machine Learning Overview</a>
          <a class="dropdown-item" href="articles/ai/example">Machine Learning Example</a>  
        </ul>
      </li>
    </ul>        
  </nav>
</div>

