<link  rel="stylesheet" href="css/landing.css">
<div class="container my-5">
       
  <div style="display: inline-flex; flex-wrap: wrap; justify-content: space-around;" >
<div class="flex-main">
  <section class="tile-main">
    <img src="/images/ai-svgrepo-com.svg" class="image-main" />
    <h3>Machine Learning</h3>
    <p>Use ML for prediction and classification</p>
    <ul>
      <li><a href="#">Machine Learning Overview</a></li>
      <li><a href="#">Machine Learning Example</a></li>
    </ul>
  </section>
  <section class="tile-main">
    <img src="/images/open-id-svgrepo-com.svg"  class="image-main"/>
    <h3>Open ID Connect</h3>
    <p>Securely Authenticate Users and Services</p>
    <ul>
      <li><a href="articles/oidc/summary">Open ID Connect Overview</a></li>
      <li><a href="articles/oidc/authorization-code-grant">OIDC Authorization Code Grant Type</a></li> 
      <li><a href="articles/oidc/client-credentials-grant">OIDC Client Credentials Grant Type</a></li> 
    </ul>
  
  </section>
  <section class="tile-main">
    <img src="/images/node-js-svgrepo-com.svg" class="image-main"/>
    <h3>Javascript</h3>
    <p>Create Web Applications with a Minimal Amount of Code using Angular</p>
    <ul>
      <li> <a href="articles/ria/summary">RIA Single Page App Overview</a></li>
      <li><a href="articles/ria/example">Angular Web Client Example</a></li>  
    </ul>
  </section>
  <section class="tile-main">
      <img src="/images/api-management-svgrepo-com.svg" class="image-main"/>
      
      <h3>REST Web API</h3>
      <p>Effectively Organize Your API Endpoints according to Resource Type</p>
      <ul>
      <li><a  href="articles/rest/summary">REST APIs Overview</a></li>
      <li><a  href="articles/rest/example">REST Example</a> </li>
    </ul>
  </section>
  <div class="tile-main"><img src="/images/docker-16-svgrepo-com.svg"   class="image-main" /><h3>Docker (Coming Soon)</h3></div>
  <div class="tile-main"><img src="/images/non-ionizing-radiation-svgrepo-com.svg"   class="image-main" /><h3>Agile (Coming Soon)</h3></div>
  
</div>
  <aside class="flex-sidebar">
    <div class="tile-side">
      <img src="/images/head-svgrepo-com.svg" class="image-side" />
      <h4>Developer KT</h4>
      <p>Talk to Scott</p>
    </div>

    <div class="tile-side">
      <img src="/images/robot-svgrepo-com.svg" class="image-side" />
      <h4>Chat Bot</h4>
      <p>Talk to Generastive AI</p>
    </div>
    <div class="tile-side"><img src="/images/security-guard-svgrepo-com.svg" class="image-side" /><h4>Report Problems</h4></div>
    <div class="tile-side"><img src="/images/stats-growth-svgrepo-com.svg"  class="image-side" /><h4>About Us</h4></div>
    <div class="tile-side"><img src="/images/Pictogrammers-Material-State-machine.svg"  class="image-side"/><h4>References</h4></div>
  </aside>
</div>        
</div> 
</div> 
