<link rel="stylesheet" href="css/rest-summary.css">
<div class="container my-5">
    <div style="display: inline-flex; flex-wrap: wrap; justify-content: space-around;" >
        <article class="flex-main">
            <section>
                <h2>Node JS REST API Example</h2>  
                <ul>
                    <li><strong>What it does:</strong> Provides Database Operations for Client Applications</li>
                    <li><strong>When to use it:</strong> Whenever Data is Created, Read, Updated, or Deleted (CRUD)</li>
                    <li><strong>How to Use it:</strong> Typically a single page web application (SPA) will send an recieve data to the REST controller endpoints </li>
                </ul>
            </section>

            <img src="article-images/rest_operations.png"/>
        </article>
    </div>
</div>
